{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css'%}"> -->
    <title>Event Management System</title>
</head>

<body>

    <!-- NavbarStart -->
    <nav class="navbar navbar-expand-sm fixed-top">
        <a href="" class="navbar-brand">Event-Page</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link">Pages</a></li>
                <li class="nav-item"><a href="" class="nav-link">Events</a></li>
            </ul>
        </div>
    </nav>

    <!-- HEADERSECTIONSTART -->
    <div class="header">
        <div class="img-parent">
            <div class="img">
                <img src="{% static 'photos/header_one.jpg'%}" style="width: 100%;" alt="">
            </div>
            <div class="img-overlay"></div>
        </div>
        <div class="img-content" style="align-items: center;">
            <h2>Schedule Of Event</h2>
            <span>College events shape the social and intellectual fabric of your university. Events are a great way to
                introduce fresh ideas, opportunities, and products to a new audience. Be sure to register and showcase
                your talents</span>
        </div>
    </div><br><br>
    <!-- EVENT LIST SECTION START -->
    <div class="container event">
        <div class="row text-center justify-content-center">

            <div class="offset-sm-1 col-sm-5">
                <img src="{% static 'photos/one.jpg' %}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>Music Festival</h6>
                    <span>A music festival is a community event with performances of singing and instrument playing that
                        is often presented with a theme such as musical genre, nationality, locality of musicians, or
                        holiday.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
                <img src="{% static 'photos/two.jpg'%}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>Business Mastery Event</h6>
                    <span>usiness Mastery Virtual is unlike any other virtual event on the planet. It's not a seminar or
                        a Zoom training or something you play in the background while you work on other outcomes – it’s
                        a fully immersive, interactive and action-packed 5 days where you’ll dig into the nuts and bolts
                        of your business to make immediate changes and a plan of action for your future.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>
        </div><br><br>


        <!--  -->
        <div class="row text-center justify-content-center">

            <div class="col-sm-5 offset-sm-1">
                <img src="{% static 'photos/three.jpg' %}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>Business Conference</h6>
                    <span>What is a business conference?
                        A business conference is held for people working in the same company or industry. They come
                        together to discuss new trends and opportunities pertaining to the business. A trade conference
                        takes place on a larger scale.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
                <img src="{% static 'photos/four.jpg'%}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>Hip Hop Beginners Class</h6>
                    <span>Hip hop dance is a range of street dance styles primarily performed to hip hop music or that
                        have evolved as part of hip hop culture. It is influenced by a wide range of styles that were
                        created in the 1970s and made popular by dance crews in the United States.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>
        </div>

<br><br>
        <!--  -->

        <div class="row text-center justify-content-center">

            <div class="col-sm-5 offset-sm-1">
                <img src="{% static 'photos/five.jpg' %}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>Book Reading Festival</h6>
                    <span>Reading is good for you because it improves your focus, memory, empathy, and communication
                        skills. It can reduce stress, improve your mental health, and help you live longer. Reading also
                        allows you to learn new things to help you succeed in your work and
                        relationships.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
                <img src="{% static 'photos/six.jpg' %}" class="img-fluid" alt="">
                <div class="event-content">
                    <h6>State Chess Championship</h6>
                    <span>chess tournament competition comes in three varieties: the Swiss system, round robin, and
                        match. The Swiss system, or "Swiss" for short, is the most popular in the United States. Matches
                        and round robin competitions are usually more expensive to organize.</span><br><br>
                    <a href="">Join</a>
                </div>
            </div>
        </div><br><br>


    </div>
    <!-- EVENT LIST SECTION END -->
<hr>
    <!-- FOOTER SECTION START -->
    <footer>

        <div class="container">
            <div class="row text-center justify-content-center">

                <div class="col-sm-2">
                    <h4>About</h4>
                    <span>Learn</span><br>
                    <span>Login</span><br>
                    <span>Reach</span><br>
                    <span>Docs</span><br>
                </div>

                <div class="col-sm-2">
                    <h4>Address</h4>
                    <span>Learn</span><br>
                    <span>Login</span><br>
                    <span>Reach</span><br>
                    <span>Docs</span><br>
                </div>

                <div class="col-sm-2">
                    <h4>Docs</h4>
                    <span>Learn</span><br>
                    <span>Login</span><br>
                    <span>Reach</span><br>
                    <span>Docs</span><br>
                </div>

                <div class="col-sm-2">
                    <h4>Resources</h4>
                    <span>Learn</span><br>
                    <span>Login</span><br>
                    <span>Reach</span><br>
                    <span>Docs</span><br>
                </div>

                <div class="col-sm-3">
                    <h4>Subscribe Us</h4>
                    <span>Subscribe For Daily Notification</span>
                    <input type="text" class="font-weight-bold form-control" placeholder="Enter Email">
                    <button type="submit"
                        class="float-left btn-sm font-weight-bold btn btn-outline-danger">Subscribe</button>
                </div>

            </div>

        </div>

    </footer>


    <script>
        $(document).scroll(function () {
            $(".navbar").toggleClass("scrol", $(this).scrollTop() > $(".navbar").height());
        })
    </script>

</body>

</html>